# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# SQLite3 database files:
*.db
*.sqlite3

# Logs:
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo
